body, html{
  background-image: url("./Images/Background.gif");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  overflow-x: hidden;
  overflow-y: hidden;
}

/*.dash,.content{
  display: inline-block;
}*/

.Center-greet {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}
