.Dashboard {
  height: 100%;
  width: 10%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  /* opacity: 0.5; */
  overflow-x: hidden;
  padding-top: 60px;
  transition: 0.5s;
}

.Dashboard a {
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
  text-align: left;
}

.Dashboard a:hover {
  color: #f1f1f1;
}

.Button-float {
  width: 55px;
  height: 55px;
  border-radius: 50%;
  background: #111;
  position: fixed;
  bottom: 30px;
  left: 30px;
  cursor: pointer;
}

.Plus {
  color: white;
  position: absolute;
  top: 0;
  display: block;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  padding: 0;
  margin: 0;
  line-height: 55px;
  font-size: 30px;
  font-family: 'Roboto';
  font-weight: 300;
  outline: none;
}

.Plus:hover {
  animation: plus-in 0.3s;
  animation-delay: 0.1s;
  animation-fill-mode: forwards;
}

@keyframes plus-in {
  from { opacity: 0; transform: rotateZ(0deg); }
  from { opacity: 1; transform: rotateZ(180deg); }
}
