body {
  background-image: url("./Images/Background.gif");
  background-repeat: no-repeat;
  background-size: cover;
}

.Greetings {
  text-align: center;
  max-width: 90%;
}

.Greetings p {
  color: #323b41;
  line-height: 30px;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 1px;
}

.Greetings input {
  padding: 6px 20px;
  border: none;
  border-radius: 5px;
  width: 500px;
  height: 30px;
  background-color: #ede7e0;
  transition: 0.8s;
  outline: none;
}

.Greetings input:hover {
  background-color: #ffe29e;
  transition: 0.8s;
}

.Greetings input:focus {
  background-color: #ffe29e;
  transition: 0.8s;
}

.Greetings input[placeholder]{
  color: #9f9e9b;
  font-family: 'Roboto', sans-serif;
}

.Greetings input[placeholder]:hover {
  color: #323b41;
}

.Greetings input[placeholder]:focus {
  color: #323b41;
}
