.Post {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px;
    background-color: white;
    height: 600px;
    width: 400px;
    text-align: center;
    font-size: 20px;
    border-style: solid;
    border-width: 20px;
    border-color: white;
}

.Post-title{

}

.Post p{
  text-align: left;
}

.Post:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.Post-fullsize {

}
